# listen on ports :80 and :9000
entryPoints:
  web:
    address: ":80"
  traefik:
    address: ":9000"
  
# enable logging
log: {}

# enable access log (output set to stdout by default)
accessLog: {}

# enable dashboard
api:
#  insecure: false # insecure means that Traefik will serve it's dashboard via "traefik" endpoint
  dashboard: true

# enabling prometheus metrics
metrics:
  prometheus: {}

# enable file provider
providers:
  file:
    filename: ./dynamic/middlewares.yaml
    watch: true # reloads configuration automatically when file changes
