# ports to listen for the incoming traffic
entryPoints:
  web:
    address: ":80"
  web-secure:
    address: ":443"
  traefik: # special entry point for dashboard
    address: ":9000"

# enabling logging
log: {}

# enabling requests logging with default output set to "stdout"
accessLog: {}

# enabling dashboard
api:
  insecure: true # enabling insecure API attaches internal dashboard service to the "traefik" endpoint
  dashboard: true

# enabling prometheus metrics
metrics:
  prometheus: {}

certificatesResolvers:
  lets-encrypt-demo:
    acme:
      email: your-email@somedomain.com
      storage: acme.json
      httpChallenge:
        entryPoint: web-secure

# enabling providers
providers:
  file:
    filename: ./dynamic/tls.yaml
    watch: true

