global:
  scrape_interval: 3s

scrape_configs:
  - job_name: 'webapp1'
    scheme: http
    static_configs:
      - targets: ['host.docker.internal:3001']
  - job_name: 'webapp2'
    scheme: http
    static_configs:
      - targets: ['host.docker.internal:3002']
  - job_name: 'webapp3'
    scheme: http
    static_configs:
      - targets: ['host.docker.internal:3003']
